.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 255px;
  mix-blend-mode: normal;
  border-radius: 25px;
}

.index-block {
  height: 100%;
  display: flex;
  align-items: bottom;
}

.index {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #ffffff;
  text-shadow: 1px 1px 20px black;
}

.chevron-buttons {
  color: #ffffff;
  margin: 1rem;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 20px black;
  transition: all 0.5s;
}
.chevron-buttons:hover {
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1.1);
}

@media (min-width: 720px) {
  .carousel {
    height: 415px;
  }

  .chevron-buttons {
    font-size: 80px;
  }
}
