.hide {
  display: none;
}

.lodging {
  width: 90%;
  margin: auto;
}

.title-location-tags {
  display: flex;
  flex-direction: column;
  color: #ff6060;
}

.lodging-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.lodging-location {
  font-weight: 500;
  font-size: 14px;
  margin: 5px 0px 5px 0px;
}

.host-photo-stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.host-name-photo {
  display: flex;
}

.host-name {
  width: 80px;
  margin: 0;
  font-size: 12px;
  /* or 17px */

  color: #ff6060;
}

.host-photo {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.description-equipments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.collapsible-lodging-div {
  width: 100%;
}

@media (min-width: 720px) {
  .lodging-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .lodging-title {
    font-size: 36px;
  }

  .lodging-location {
    font-size: 18px;
  }

  .host-photo-stars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .host-name {
    font-size: 18px;
  }

  .host-photo {
    width: 64px;
    height: 64px;
  }

  .description-equipments {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .collapsible-lodging-div {
    width: 40%;
  }
}
