.tag-block {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 90;
}

.tag {
  background: #ff6060;
  border-radius: 5px;
  margin: 5px 10px 5px 0px;
  min-width: 84px;
  height: 18px;
}

.tag-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  /* or 14px */

  text-align: center;
  color: white;
  margin: auto;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.collapsible-block {
  width: 100%;
  margin: 15px auto;
}
.collapsible-title {
  position: relative;
  display: flex;
  z-index: 3;
  background: #ff6060;
  border-radius: 5px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  line-height: 142.6%;
  /* identical to box height, or 19px */

  display: flex;
  align-items: center;

  color: #ffffff;

  padding: 5px 10px;
}

.collapsible-title:hover {
  cursor: pointer;
}

.collapsible-icon-down {
  transform: rotate(180deg);
}
.collapsible-icon-up {
  transform: rotate(0deg);
}

.collapsible-description {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background: #f7f7f7;
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 142.6%;
  /* or 17px */
  color: #ff6060;
  margin-top: -0.5rem;
  padding: 1rem 10px;
}

.star {
  font-size: 15px;
  color: #e3e3e3;
}
.rated {
  color: #ff6060;
}

.hide {
  display: none;
}

.lodging {
  width: 90%;
  margin: auto;
}

.title-location-tags {
  display: flex;
  flex-direction: column;
  color: #ff6060;
}

.lodging-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.lodging-location {
  font-weight: 500;
  font-size: 14px;
  margin: 5px 0px 5px 0px;
}

.host-photo-stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.host-name-photo {
  display: flex;
}

.host-name {
  width: 80px;
  margin: 0;
  font-size: 12px;
  /* or 17px */

  color: #ff6060;
}

.host-photo {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.description-equipments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.collapsible-lodging-div {
  width: 100%;
}

@media (min-width: 720px) {
  .tag {
    min-width: 115px;
    height: 25px;
    border-radius: 10px;
  }

  .tag-title {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .collapsible-title {
    font-size: 18px;
  }

  .collapsible-description {
    font-size: 18px;
  }

  .lodging-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .lodging-title {
    font-size: 36px;
  }

  .lodging-location {
    font-size: 18px;
  }

  .host-photo-stars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .host-name {
    font-size: 18px;
  }

  .host-photo {
    width: 64px;
    height: 64px;
  }

  .star {
    font-size: 30px;
  }

  .description-equipments {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .collapsible-lodging-div {
    width: 40%;
  }
}
