.ratings {
  display: flex;
  align-items: center;
  justify-content: right;
}

.star {
  font-size: 15px;
  color: #e3e3e3;
}
.rated {
  color: #ff6060;
}

@media (min-width: 720px) {
  .star {
    font-size: 30px;
  }
}
